<script type="text/ng-template" id="EmployeeData">
	<div class="modal-content">
		<form name="formEmployee" ng-submit="formEmployee.$valid && save()" novalidate>
			<div class="modal-header">
				<button type="button" class="bootbox-close-button close" ng-click="close()" aria-hidden="true">×</button>
				<h3>
                    Nuevo Contacto
                </h3>
			</div>
			<!-- dialog body -->
			<div class="modal-body">
				<fieldset>
					<section>
						<div class="pull-right col-lg-8">
							<div class="group-groups clearfix">
								<div class="form-group col-sm-12 col-md-12 col-lg-12" ng-class="{'has-error': formEmployee.name.$error.required && (formEmployee.name.$dirty || formEmployee.$submitted)}">
									<label for="name">Nombre(s)</label>
									<div class="input-group">
										<span class="hidden-xs input-group-addon">
	                                    	<i class="fa fa-map-marker"></i>
	                                	</span>
										<input type="text" name="name" ng-model="employee.rhdata.name" class="form-control" placeholder="" required/>
									</div>
									<div class="error" ng-messages="formEmployee.name.$error" ng-if="formEmployee.name.$dirty || formEmployee.$submitted">
										<small class="error" ng-message="required">Campo obligatorio</small>
									</div>
								</div>
							</div>
							<div class="group-groups clearfix">
								<div class="form-group col-sm-12 col-md-6 col-lg-6" ng-class="{'has-error': formEmployee.mid_name.$error.required && (formEmployee.mid_name.$dirty || formEmployee.$submitted)}">
									<label for="mid_name">Apellido Paterno</label>
									<div class="input-group">
										<span class="hidden-xs input-group-addon">
	                                    	<i class="fa fa-map-marker"></i>
	                                	</span>
										<input type="text" name="mid_name" ng-model="employee.rhdata.mid_name" class="form-control" placeholder="" required/>
									</div>
									<div class="error" ng-messages="formEmployee.mid_name.$error" ng-if="formEmployee.mid_name.$dirty || formEmployee.$submitted">
										<small class="error" ng-message="required">Campo obligatorio</small>
									</div>
								</div>
								<div class="form-group col-sm-12 col-md-6 col-lg-6" ng-class="{'has-error': formEmployee.last_name.$error.required && (formEmployee.last_name.$dirty || formEmployee.$submitted)}">
									<label for="last_name">Apellido Materno</label>
									<div class="input-group">
										<span class="hidden-xs input-group-addon">
	                                    	<i class="fa fa-map-marker"></i>
	                                	</span>
										<input type="text" name="last_name" ng-model="employee.rhdata.last_name" class="form-control" placeholder="" required/>
									</div>
									<div class="error" ng-messages="formEmployee.last_name.$error" ng-if="formEmployee.last_name.$dirty || formEmployee.$submitted">
										<small class="error" ng-message="required">Campo obligatorio</small>
									</div>
								</div>
							</div>
							<div class="group-groups clearfix">
								<div class="form-group col-sm-12 col-md-5 col-lg-5" ng-class="{'has-error': formEmployee.phone.$error.required && (formEmployee.phone.$dirty || formEmployee.$submitted)}">
									<label for="phone">Telefono</label>
									<div class="input-group">
										<span class="hidden-xs input-group-addon">
	                                    	<i class="fa fa-phone"></i>
	                                	</span>
										<input type="text" name="phone" ng-model="employee.rhdata.phone" class="form-control" placeholder="" required/>
									</div>
									<div class="error" ng-messages="formEmployee.phone.$error" ng-if="formEmployee.phone.$dirty || formEmployee.$submitted">
										<small class="error" ng-message="required">Campo obligatorio</small>
									</div>
								</div>
								<div class="form-group col-sm-12 col-md-7 col-lg-7" ng-class="{'has-error': formEmployee.phone.$error.required && (formEmployee.phone.$dirty || formEmployee.$submitted)}">
									<label for="phone">Correo</label>
									<div class="input-group">
										<span class="hidden-xs input-group-addon">
	                                    	<i class="fa fa-phone"></i>
	                                	</span>
										<input type="text" name="phone" ng-model="employee.rhdata.phone" class="form-control" placeholder="" required/>
									</div>
									<div class="error" ng-messages="formEmployee.phone.$error" ng-if="formEmployee.phone.$dirty || formEmployee.$submitted">
										<small class="error" ng-message="required">Campo obligatorio</small>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-left col-lg-4">
							<div class="group-groups clearfix">
								<div class="form-group col-sm-12 col-md-12 col-lg-12">
									<div flow-init="flowOptions" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()">
										<div class="thumbnail" ng-show="!$flow.files.length">
											<img src="img/error-500-v2.png">
										</div>
										<div class="thumbnail" ng-show="$flow.files.length">
											<img flow-img="$flow.files[0]" />
										</div>
										<div class="text-center">
											<span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file" style="visibility: hidden; position: absolute;"/></span>
											<span class="btn btn-info" ng-show="$flow.files.length" flow-btn="">Change<input type="file" style="visibility: hidden; position: absolute;"></span>
											<span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
											    Remove
  											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</fieldset>
			</div>
			<!-- dialog buttons -->
			<div class="modal-footer">
				<button ng-click="close()" type="button" class="btn btn-default">Cancelar</button>
				<input type="submit" class="btn btn-primary" value="Guardar">
				</btn>
		</form>
		</div>
</script>
